.home-container{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6)),
    url(../../img/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
